body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

footer {
    margin-top: auto;
    align-items: center;
}

main {
    height: 100%;
}

.clip {
    background-color: brown;
    width: 50px;
}
