nav {
    font-family: Cutive Mono, monospace;
    text-align: center;
    display: flex;
    justify-content: center;
    user-select: none;
    color: black;
    background-color: #cbccd0;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
    flex-direction: column;
}

main {
    display: flex;
    height: 100%;
    flex: auto;
    flex-direction: column;
    overflow-y: auto;
    justify-content: center;
}

footer {
    font-size: 2em;
    display: flex;
    justify-content: center;
    background-color: #cbccd0;
    font-family: Cutive Mono, monospace;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

h3 {
    margin: 0;
    padding-bottom: 10px;
    font-family: Cutive Mono, monospace;
    /* font-size: 2em; */
    text-align: center;
}

#title {
    font-size: 3em;
}

#subtitle {
    font-size: 1.5em;
}

#inner {
    overflow-y: auto;
}

.wallpaper {
    background: url("wallpaper.png") no-repeat center center fixed;
    background-size: cover;
}

.tier-container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.clip {
    flex: 0 1 auto;
    user-select: none;
    width: 175px;
    border: 3px black solid;
    box-shadow: 2px 2px 5px, inset 2px 2px 20px #6b76aa;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    font-size: 3em;
    font-family: Tahoma, Helvetica, sans-serif;
}

.clip:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.25);
}

.clip:active {
    box-shadow: inset 2px 5px 10px #6b76aa;
}

.disabled {
    box-shadow: none;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.season {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    width: 75px;
    border: 3px black solid;
    box-shadow: 2px 2px 2px, inset 2px 5px 20px #6b76aa;
    height: 50px;
    font-size: 2em;
    font-family: Tahoma, Helvetica, sans-serif;
    border-radius: 10px;
}

.season:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.25);
}

.season:active {
    box-shadow: inset 2px 2px 5px #6b76aa;
}

#modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#modal-content {
    width: 350px;
    border-radius: 10px;
    background-color: #6b76aa;
    padding: 15px;
}

#season-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#replay-container {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
}

#completed {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}

#play-again {
    user-select: none;
    border: 3px black solid;
    box-shadow: 2px 2px 5px, inset 2px 2px 20px #6b76aa;
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
    border-radius: 20px;
    font-size: 2.5em;
    font-family: Tahoma, Helvetica, sans-serif;
    width: 300px;
    /* max-width: 600px; */
}

#play-again:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.25);
}

#play-again:active {
    box-shadow: inset 2px 5px 10px #6b76aa;
}

#final-score {
    font-size: 3em;
    padding-bottom: 40px;
}
